@font-face {
	font-family: "ProximaNovaRegular";
	src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
	src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
			 url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ProximaNovaExtrabld";
	src: url("../fonts/ProximaNovaExtrabld/ProximaNovaExtrabld.eot");
	src: url("../fonts/ProximaNovaExtrabld/ProximaNovaExtrabld.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/ProximaNovaExtrabld/ProximaNovaExtrabld.woff") format("woff"),
			 url("../fonts/ProximaNovaExtrabld/ProximaNovaExtrabld.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ProximaNovaSemibold";
	src: url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot");
	src: url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff") format("woff"),
			 url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ProximaNovaBold";
	src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
	src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
			 url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* @font-face {
	font-family: "MyriadProBold";
	src: url("../fonts/MyriadProBold/MyriadProBold.eot");
	src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
			 url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "MyriadProRegular";
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
			 url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
} */
