@font-face {
	font-family: "owniconfont";
	src: url('../fonts/owniconfont/owniconfont.eot');
	src: url('../fonts/owniconfont/owniconfont.eot?#iefix') format('eot'),
		url('../fonts/owniconfont/owniconfont.woff2') format('woff2'),
		url('../fonts/owniconfont/owniconfont.woff') format('woff'),
		url('../fonts/owniconfont/owniconfont.ttf') format('truetype'),
		url('../fonts/owniconfont/owniconfont.svg#owniconfont') format('svg');
}

.fi:before {
	font-family: "owniconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.fi-adv1:before {
	content: "\E001";
}

.fi-adv2:before {
	content: "\E002";
}

.fi-adv3:before {
	content: "\E003";
}

.fi-adv4:before {
	content: "\E004";
}

.fi-adv5:before {
	content: "\E005";
}

.fi-adv6:before {
	content: "\E006";
}

.fi-alarm-clock:before {
	content: "\E007";
}

.fi-arrow-aim:before {
	content: "\E008";
}

.fi-arrow-left:before {
	content: "\E009";
}

.fi-arrow-right:before {
	content: "\E00A";
}

.fi-carcas:before {
	content: "\E00B";
}

.fi-check-small:before {
	content: "\E00C";
}

.fi-clock:before {
	content: "\E00D";
}

.fi-dialogs-4:before {
	content: "\E00E";
}

.fi-eye-globe:before {
	content: "\E00F";
}

.fi-globe-to-top:before {
	content: "\E010";
}

.fi-guarantee-6:before {
	content: "\E011";
}

.fi-guarantee-list:before {
	content: "\E012";
}

.fi-hands-money:before {
	content: "\E013";
}

.fi-heart-medal:before {
	content: "\E014";
}

.fi-iks:before {
	content: "\E015";
}

.fi-light-bulb:before {
	content: "\E016";
}

.fi-list-check:before {
	content: "\E017";
}

.fi-list-check2:before {
	content: "\E018";
}

.fi-list-items:before {
	content: "\E019";
}

.fi-list-stamp-2:before {
	content: "\E01A";
}

.fi-list-zoom:before {
	content: "\E01B";
}

.fi-man-check:before {
	content: "\E01C";
}

.fi-man-zoom:before {
	content: "\E01D";
}

.fi-medal-3:before {
	content: "\E01E";
}

.fi-money:before {
	content: "\E01F";
}

.fi-monitor:before {
	content: "\E020";
}

.fi-pdf:before {
	content: "\E021";
}

.fi-pen-ruler:before {
	content: "\E022";
}

.fi-phone-fw:before {
	content: "\E023";
}

.fi-play-circle:before {
	content: "\E024";
}

.fi-portmone:before {
	content: "\E025";
}

.fi-pro-team:before {
	content: "\E026";
}

.fi-rocket:before {
	content: "\E027";
}

.fi-rubin-hand:before {
	content: "\E028";
}

.fi-settings-aim:before {
	content: "\E029";
}

.fi-sheild-globe:before {
	content: "\E02A";
}

.fi-shield-check:before {
	content: "\E02B";
}

.fi-shield-check2:before {
	content: "\E02C";
}

.fi-specialist-5:before {
	content: "\E02D";
}

.fi-team-check:before {
	content: "\E02E";
}

.fi-thumb-up:before {
	content: "\E02F";
}

.fi-two-commas:before {
	content: "\E030";
}

.fi-valik:before {
	content: "\E031";
}

.fi-venec:before {
	content: "\E032";
}

.fi-zoom-up:before {
	content: "\E033";
}
